.main-header {
  padding-top: 24px;
  padding-inline: 16px;
  &__service-menu {
    display: none;
  }
  @media screen and (min-width: 768px) {
    padding-inline: 24px;
  }

  @media screen and (min-width: 1366px) {
    padding-top: 42px;
    padding-inline: 32px;
    .header {
      display: none;
    }

    &__service-menu {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 16px;
    }
    & {
      display: flex;
      align-items: center;
      // margin-top: 42px;
      // margin-right: 25px;
    }
  }
}
