.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.996);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  pointer-events: none;
  &--modal {
    visibility: visible;
    z-index: 850;
    opacity: 1;
    pointer-events: auto;
  }
  &--menu {
    visibility: visible;
    z-index: 800;
    opacity: 1;
    pointer-events: auto;
  }
  // @media (min-width: 768px) {
  //   z-index: 800;
  // }
}
