.section {
  background-color: $white-bg;
  &__header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #f8f8f8, #fff);
    color: #7e7e82;
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
  }
  &__title {
    font-size: 16px;
  }
  &__body {
    margin-top: 16px;
    margin-left: 16px;
  }
  &__show-more-button {
    display: none;
    @media screen and (min-width: 768px) {
      &__show-more-button {
        display: inline;
        color: black;
        background: none;
      }

      &__show-more-button::before {
        display: inline-block;
        content: '';
        background: url(../img/expand.svg) no-repeat;
        vertical-align: middle;
        height: 10px;
        width: 8px;
        margin-right: 16px;
        transform: rotate(180deg);
      }

      &__show-more-button--reversed::before {
        transform: rotate(0deg);
      }
    }
  }
}
