.section {
  background-color: $white-bg;
  padding-left: 32px;
  &__body {
    margin-top: 16px;
    @media screen and (min-width: 768px) {
      margin-top: 24px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #f8f8f8, #fff);
    color: #7e7e82;
    font-size: 16px;
    line-height: 24px;
    padding-block: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    margin-top: 0;
    @media screen and (min-width: 768px) {
      margin-top: 32px;
    }
  }
  &__title {
    font-size: 16px;
  }
}
