.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-shadow: 16px 0px 52px 0px #0e185033;
  padding: 18px 16px;
  background: white;
  z-index: 1000;

  &__sidebar-footer {
    margin-top: auto;
  }

  &--hide {
    display: none;
  }

  // @media screen and (min-width: 1366px) {
  //   position: relative;
  //   &__hide {
  //     display: relative;
  //   }
  // }
  @media (min-width: 768px) {
    width: 320px;
  }
  @media (min-width: 1366px) {
    position: relative;
    float: left;
    height: 100%;
    width: 320px;
    padding: 18px 16px;
    background: white;
    z-index: 1000;
    box-shadow: none;
    padding-block: 30px;

    &__sidebar-footer {
      margin-top: auto;
    }

    &--hide {
      display: inline-block;
    }
  }
}
