.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 320px;
  box-shadow: 16px 0px 52px 0px #0e185033;
  padding: 18px 16px;
  background: white;
  z-index: 1000;
  &__nav-menu {
    margin-top: 46px;
  }
  &__sidebar-footer {
    margin-top: auto;
  }

  &__hide {
    display: none;
  }
}
